.accordion {
  .btn-panel {
    text-decoration: underline;
    padding: 0;
    justify-content: left;
  }
  
  &-section {
    display: flex; flex-flow: column;

    &#hide {
      display: none;
    }
  }
}
