* {
  background: none;
  color: #333333;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin: 0;
  border: 0;
  padding: 0;
}

th,
td {
  text-align: center;
}
th {
  font-weight: bold;
}
h2 {
  white-space: pre;
}

.app {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
}

.app-content {
  transition: transform 0.2s ease-in-out;
}

.app-content#hide {
  transform: translateX(0);
}

.app-content#show {
  transform: translateX(400px);
}

#panel-open {
  background: none;
  position: fixed;
  z-index: 2;
  top: 5vh;
  left: 5vw;
}

@media screen and (min-width: 800px) {
  .app-content#hide {
    transform: translateX(0) scale(1, 1);
  }

  .app-content#show {
    transform: translateX(400px) scale(0.8, 0.8);
  }
}
