* {
  background: none;
  color: #333333;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;

  margin: 0;
  border: 0;
  padding: 0;
}

#open-menu {
  background: none;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 2;
}

.template-body {
  transition: transform 0.2s ease-out;
  overflow-x: hidden;
}

.template-body#hide {
  transform: translateX(0);
}

.template-body#show {
  transform: translateX(350px);
}