* {
  background: none;
  color: #333333;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;

  margin: 0;
  border: 0;
  padding: 0;
}

.app {
  background-color: black;
}

#open-menu {
  background: none;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 2;
}