.blog {
  display: grid;
  grid-template-areas: "nav center content";
  grid-template-rows: 100vh;
  grid-template-columns: auto auto 65vw;
}

.blog-navigation {
  background-color: white;
  grid-area: nav;
  display: grid;
  transition: width 0.8s ease-in-out;
}

.blog-navigation#hide {
  width: 25vw;
}

.blog-navigation#show {
  width: 0vw;
}

.blog-navigation-accordions {
  width: 15vw;
  height: 60vh;
  margin: 20vh 5vw 20vh 5vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.blog-navigation-latest,
.blog-navigation-category {
  width: 100%;
}

.blog-center {
  background-color: black;
  padding: 5vw;
  grid-area: center;
  position: relative;
  display: grid;
  align-items: center;
  transition: width 0.8s ease-in-out;
}

.blog-center#hide {
  width: 65vw;
}

.blog-center#show {
  width: 25vw;
}

.blog-center-content {
  max-width: 35vw;
  z-index: 1;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr;
}

.blog-center-content > h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.blog-center-content > * {
  color: white;
  margin: 2.5% 0;
}

.blog-post {
  background-color: white;
  padding: 5%;
  position: relative;
  z-index: 2;
  grid-area: content;
}

.blog-post-content {
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2.5vw;
}

.blog-post-section {
  display: grid;
  grid-template-areas:
    "heading image"
    "text image";
  grid-template-rows: 
    auto
    1fr;
  grid-template-columns:
    1fr 1fr;
}

.blog-post-section-heading {
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  grid-area: heading;
  display: flex;
  align-items: flex-end;
}

.blog-post-section-heading > h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.5rem;
}

.blog-post-section-text {
  text-align: justify;
  padding: 5% 5% 5% 0;
  grid-area: text;
}

.blog-post-section-image {
  grid-area: image;
}

.blog-post-section-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#posts-open {
  background-color: white;
  width: 176px;
  position: absolute;
  left: -176px;
  bottom: 48px;
}

#posts-close {
  background-color: white;
  position: absolute;
  left: -48px;
  bottom: 48px;
}

#blog-link {
  height: auto;
  justify-content: left;
}

@keyframes fade {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
