.blog {
  display: grid;

  grid-template-areas: "nav center content";
  grid-template-rows: 100vh;

  &-navigation {
    display: grid;

    padding: 15vh 0 15vh 0;

    transition: width 0.8s ease-in-out;

    background-color: white;

    grid-area: nav;
    grid-template-areas:
      "latest"
      "categories";
    grid-template-rows:
      35vh
      35vh;

    &-latest,
    &-categories {
      display: flex;

      margin: 0 2em 0 2em;

      flex-flow: column;

      &-heading {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: lightgray;
      }

      &-items {
        overflow-x: hidden;
        overflow-y: auto;

        padding-top: 1em;

        .blog-link {
          display: flex;

          height: 48px;

          flex-flow: column;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &-latest {
      grid-area: latest;
    }

    &-categories {
      grid-area: categories;
    }

    &#hide {
      width: 25vw;
    }

    &#show {
      width: 0vw;
    }
  }

  &-hero {
    position: relative;

    display: grid;

    padding: 5vw;

    transition: width 0.5s ease-in-out;

    background-color: black;

    grid-area: center;
    align-items: center;

    &-content {
      z-index: 1;

      display: grid;

      max-width: 35vw;

      grid-template-columns: 1fr;
      align-items: flex-end;

      h1 {
        font-family: "Rubik Mono One", sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
      }

      * {
        margin: 2.5% 0;

        color: white;
      }
    }

    &#hide {
      width: 65vw;
    }

    &#show {
      width: 25vw;
    }
  }

  &-post {
    position: relative;

    width: 65vw;
    padding: 2em;

    background-color: white;

    grid-area: content;

    &-content {
      display: grid;
      overflow-y: auto;

      height: 100%;

      grid-template-columns: 1fr;
      grid-row-gap: 2.5vw;

      &-section {
        display: grid;

        grid-template-areas:
          "heading image"
          "text image";
        grid-template-rows:
          auto
          1fr;
        grid-template-columns: 1fr 1fr;

        &-heading {
          display: flex;

          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: lightgray;

          grid-area: heading;
          align-items: flex-end;
        }

        &-text {
          padding: 5% 5% 5% 0;

          text-align: justify;

          grid-area: text;
        }

        &-image {
          grid-area: image;

          img {
            width: 100%;
            height: 100%;

            object-fit: cover;
          }
        }
      }
    }

    #posts-open,
    #posts-close {
      position: absolute;
      bottom: 48px;

      background-color: white;
    }

    #posts-open {
      left: -152px;

      width: 152px;
    }

    #posts-close {
      left: -48px;
    }
  }
}
