.btn {
  white-space: pre;
  height: 48px;
  display: flex;
  align-items: center;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.btn-square {
  width: 48px;
  justify-content: center;
}

.btn-panel {
  padding: 0 1em 0 1em;
  justify-content: center;
}

.btn-rectangle {
  width: auto;
  padding: 0 1em 0 1em;
}
