.btn {
  white-space: pre;
  min-height: 48px;
  display: grid;
  align-items: center;
  justify-content: center;

  &.btn-square {
    width: 48px;
  }

  &.btn-panel {
    padding: 0 1em 0 1em;
  }

  &.btn-rectangle {
    grid-template-columns: 48px auto;
  }

  &:hover {
    color: black;
    cursor: pointer;
  }
}
