.button-defaults {
  background-color: white;
  white-space: pre;
  color: gray;
  display: flex;
  align-items: center;
}

.square-button {
  background: none;
  color: gray;
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  justify-content: center;
}

.square-button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.panel-button {
  background: none;
  color: gray;
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  justify-content: center;
}

.panel-button:hover {
  cursor: pointer;
}

.rectangle-button {
  background-color: white;
  font-weight: bold;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  color: gray;
  width: auto;
  display: flex;
  align-items: center;
  height: 48px;
}

.rectangle-button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}