.btn {
  white-space: pre;
  height: 48px;
  display: flex;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
  color: black;
}
.btn-square {
  width: 48px;
  justify-content: center;
}
.btn-panel {
  max-width: 192px;
  padding: 0 1em 0 1em;
  justify-content: center;
}
.btn-rectangle {
  width: auto;
  max-width: 280px;
  padding: 0 1em 0 1em;
}
