.under-construction {
  display: flex;

  width: 100vw;
  height: 100vh;

  text-align: center;

  background-color: white;

  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.under-construction > h2 {
  font-weight: bold;
}

#paint-bucket {
  width: 20%;
  height: 20%;
  padding: 2.5%;
}
