.home {
  background-color: white;
  display: grid;
  grid-template-areas:
    "hero"
    "doo-dad";
  grid-template-rows: 100vh;
}
.home-hero {
  grid-area: hero;
  background-color: whitesmoke;
  text-align: right;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.home-hero-text {
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  white-space: pre;
  font-weight: bold;
  font-size: 2rem;
  margin: 5%;
}
.home-doo-dad {
  grid-area: doo-dad;
  align-self: center;
}
#blog-btn, #github-btn {
  background-color: white;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  float: right;
  margin: 0 5% 0 0;
}

@media screen and (min-width: 1200px) {
  .home {
    height: 100vh;
    grid-template-areas: "hero doo-dad";
    grid-template-columns: 2fr 3fr;
  }
}
