.panel {
  background-color: #333333;
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "social";
  grid-template-rows:
    72px
    1fr
    auto;
  transition: transform 0.2s ease-in-out;
}

.panel#hide {
  transform: translateX(-100vw);
}

.panel#show {
  transform: translateX(0);
}

.panel-header {
  grid-area: header;
  padding: 5%;
}

.panel-navigation {
  overflow-x: hidden;
  overflow-y: auto;
  grid-area: navigation;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.panel-navigation-section {
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  padding: 1em 0;
}

.panel-social {
  padding: 5%;
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panel-close {
  float: right;
}

#panel-link {
  color: lightgray;
  font-size: 1rem;
}

#panel-link:hover {
  color: white;
}

@media screen and (min-width: 800px) {
  .panel {
    width: 400px;
  }
}
