.montyhall {
  padding: 5%;
  display: grid;
  grid-template-areas:
    "heading"
    "slider"
    "interactive";
  grid-template-rows:
    1fr
    400px
    400px;
}

.montyhall-heading {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 2.5rem;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: center;
}

.montyhall-interactive {
  grid-area: interactive;
  display: grid;
  grid-template-areas:
    "scoreboard"
    "doors"
    "instructions";
  grid-template-rows:
    120px
    160px
    120px;
}

.montyhall-interactive-doors {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
}

.montyhall-interactive-instructions {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.montyhall-interactive-instructions > h2 {
  font-family: "Rubik Mono One", sans-serif;
  font-weight: normal;
}

.montyhall-interactive-scoreboard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.montyhall-interactive-scoreboard-table {
  width: 90%;
  max-height: 90%;
}

.btn-door {
  height: 90%;
  justify-content: center;
}

.btn-door#highlight {
  border-color: black;
}

.btn-door:hover {
  transform: scale(1.05, 1.05);
}

.btn-door[disabled] {
  background-color: whitesmoke;
  transform: scale(1, 1);
  cursor: auto;
}

.btn-door,
#montyhall-select {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

#montyhall-slider {
  text-align: justify;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  height: 100%;
  grid-area: slider;
}

#montyhall-slider > .slider-content {
  padding: 5%;
}

#montyhall-stickswitch {
  margin: 2.5%;
}

@media screen and (min-width: 800px) {
  .montyhall {
    grid-template-areas:
      "heading heading"
      "slider interactive";
    grid-template-rows:
      1fr
      400px;
    grid-template-columns: 1fr 1fr;
  }

  .montyall-interactive-scoreboard {
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
  }

  #montyhall-slider {
    border-width: 0 1px 0 0;
  }
}
