.montyhall {
  display: grid;

  padding: 2em;

  grid-template-areas:
    "heading"
    "slider"
    "interactive";
  grid-template-rows:
    auto
    400px
    400px;

  &-heading {
    display: flex;
    
    padding: 1em;

    text-align: center;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightgray;

    grid-area: heading;
    justify-content: center;
  }

  #montyhall-slider {
    height: 100%;

    text-align: justify;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightgray;

    grid-area: slider;

    .slider-content {
      padding: 1em;

      h3 {
        white-space: pre;
      }
    }

    .slider-navigation {
      padding: 1em;
    }
  }

  &-interactive {
    display: grid;

    grid-area: interactive;
    grid-template-areas:
      "scoreboard"
      "doors"
      "instructions";
    grid-template-rows:
      120px
      1fr
      120px;

    &-scoreboard {
      display: grid;

      padding: 1em;

      align-items: center;
    }

    &-stage {
      display: grid;

      grid-template-areas: "doors controls";
      grid-template-columns: 1fr 48px;

      &-doors {
        display: grid;

        margin: 1em;

        grid-area: doors;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;

        .door-select {
          display: flex;
          
          border-width: 1px;
          border-style: solid;
          border-color: lightgray;

          justify-content: center;

          &#highlight {
            border-color: black;
          }

          &#hover {
            transform: scale(1.05, 1.05);
          }

          &[disabled] {
            cursor: auto;
            transform: scale(1, 1);

            background-color: whitesmoke;
          }
        }
      }

      &-controls {
        display: grid;

        grid-area: controls;
        grid-template-areas:
          "add"
          "count"
          "reduce";
        grid-template-rows:
          48px
          1fr
          48px;
        align-self: center;

        #control-add {
          grid-area: add;
        }

        h3 {
          text-align: center;

          grid-area: count;
        }

        #control-reduce {
          grid-area: reduce;
        }
      }
    }

    &-instructions {
      display: grid;

      text-align: center;

      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-content: center;

      h2 {
        font-family: "Limelight", cursive;
      }

      #instruction-stickswitch {
        margin: 1em;
      }

      #instruction-select {
        border-width: 1px;
        border-style: solid;
        border-color: lightgray;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .montyhall {
    grid-template-areas:
      "heading heading"
      "slider interactive";
    grid-template-rows:
      1fr
      400px;
    grid-template-columns: 1fr 1fr;

    #montyhall-slider {
      border-width: 0 1px 0 0;
    }

    &-interactive {
      &-scoreboard {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: lightgray;
      }
    }
  }
}
