.monty-hall {
  padding: 5%;
  display: grid;
  grid-template-areas: "heading" "slider" "interactive";
  grid-template-rows: auto auto auto;
}
.monty-hall-heading {
  grid-area: heading;
  text-align: center;
  font-family: "Yellowtail", cursive;
  font-size: 3rem;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
#monty-hall-slider {
  grid-area: slider;
  text-align: justify;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  height: 400px;
}
.monty-hall-interactive {
  grid-area: interactive;
  display: grid;
  grid-template-areas: "scoreboard" "doors" "instructions";
  grid-template-rows: 96px 120px 132px;
}
.monty-hall-interactive-doors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.monty-hall-interactive-instructions {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.scoreboard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.scoreboard-table {
  width: 90%;
  max-height: 90%;
}
.door-btn {
  margin: 1em;
}
.door-btn#highlight {
  border-color: black;
}
.door-btn:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
.door-btn[disabled] {
  background-color: whitesmoke;
  transform: scale(1, 1);
  cursor: auto;
}
#instruction-text {
  text-align: center;
}
.door-btn,
#stick-switch-btn,
#play-again-btn {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
#stick-switch-btn {
  width: 140px;
  margin: 2.5%;
}
th,
td {
  text-align: center;
}
th {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  white-space: pre;
}
@media screen and (min-width: 800px) {
  .monty-hall {
    grid-template-areas: "heading heading" "slider interactive";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #monty-hall-slider {
    border-width: 0 1px 0 0;
  }
  .scoreboard {
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
  }
}
