.montyhall {
  padding: 2em;
  display: grid;
  grid-template-areas:
    "heading"
    "slider"
    "interactive";
  grid-template-rows:
    1fr
    450px
    450px;

  h2 {
    white-space: pre;
  }

  &-heading {
    text-align: center;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 2.5rem;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
    grid-area: heading;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #montyhall-slider {
    text-align: justify;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
    height: 100%;
    grid-area: slider;

    .slider-content {
      padding: 5%;
    }
  }

  &-interactive {
    grid-area: interactive;
    display: grid;
    grid-template-areas:
      "scoreboard"
      "doors"
      "instructions";
    grid-template-rows:
      150px
      150px
      150px;

    &-scoreboard {
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;

      &-table {
        max-height: 90%;
      }
    }

    &-buttons {
      display: grid;
      grid-template-areas: "doors controls";
      grid-template-rows: repeat(auto-fill, 1fr);
      grid-template-columns: 1fr 48px;

      &-doors {
        margin: 5%;
        grid-area: doors;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5%;

        .btn-door {
          border-width: 1px;
          border-color: lightgray;
          border-style: solid;
          display: flex;
          justify-content: center;

          &#highlight {
            border-color: black;
          }

          &#hover {
            transform: scale(1.05, 1.05);
          }

          &[disabled] {
            background-color: whitesmoke;
            transform: scale(1, 1);
            cursor: auto;
          }
        }
      }

      &-controls {
        grid-area: controls;
        display: grid;
        grid-template-areas: "add" "count" "reduce";
        grid-template-rows: 48px 1fr 48px;
        align-self: center;

        #doors-add {
          grid-area: add;
        }

        h3 {
          text-align: center;
          grid-area: count;
        }
        
        #doors-reduce {
          grid-area: reduce;
        }
      }
    }

    &-instructions {
      text-align: center;
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-content: center;

      h2 {
        font-family: "Rubik Mono One", sans-serif;
        font-weight: normal;
      }

      #montyhall-stickswitch {
        margin: 2.5%;
      }

      #montyhall-select {
        border-width: 1px;
        border-color: lightgray;
        border-style: solid;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .montyhall {
    grid-template-areas:
      "heading heading"
      "slider interactive";
    grid-template-rows:
      1fr
      450px;
    grid-template-columns: 1fr 1fr;

    #montyhall-slider {
      border-width: 0 1px 0 0;
    }

    &-interactive {
      &-scoreboard {
        border-width: 0 0 1px 0;
        border-color: lightgray;
        border-style: solid;
      }
    }
  }
}
