.monty-hall {
  background-color: white;
  width: inherit;
  height: inherit;
  z-index: 1;
  display: grid;
  grid-template-areas: "heading heading" "slider interactive";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 350px;
}

.monty-hall-heading {
  text-align: center;
  font-family: "Yellowtail", cursive;
  font-size: 2.5rem;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  grid-area: heading;
  align-self: center;
}

#monty-hall-slider {
  grid-area: slider;
}

.monty-hall-slider-description {
  overflow-y: auto;
  text-align: justify;
  font-size: 1rem;
  padding: 1em;
}

.monty-hall-interactive {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  grid-area: interactive;
}

.monty-hall-interactive-scoreboard {
  position: relative;
}

.scoreboard, .scoreboard-table {
  width: 100%;
}

.scoreboard-heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  text-align: center;
}

.monty-hall-interactive-gifts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.monty-hall-interactive-instructions {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

#stick-switch-button, #play-again-button {
  font-size: 1rem;
}

#instruction-text {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
}

th, td {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

h2 {
  text-decoration: underline;
}

.door-button {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  width: 72px;
  height: 72px;
  margin: 2.5%;
}

.door-button:hover {
  transform: scale(1.05, 1.05);
}

.door-button[disabled] {
  background-color: whitesmoke;
  transform: scale(1, 1);
}

.door-button#highlight {
  border-color: #333333;
}