.panel {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  display: grid;

  width: 100vw;
  height: 100vh;

  transition: transform 0.2s ease-in-out;

  color: white;
  background-color: #333;

  grid-template-areas:
    "header"
    "navigation"
    "social";
  grid-template-rows:
    auto
    1fr
    auto;

  &-header {
    padding: 1em;

    grid-area: header;
  }

  &-navigation {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

    grid-area: navigation;
    flex-flow: column;
    align-items: center;

    &-section {
      padding: 1em;

      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: lightgray;
    }
  }

  &-social {
    display: flex;

    padding: 5%;

    grid-area: social;
    align-items: center;
    justify-content: center;
  }

  #panel-close {
    float: right;
  }

  #panel-link {
    color: lightgray;
    font-size: 1rem;
  }

  #panel-link:hover {
    color: white;
  }

  &#hide {
    transform: translateX(-100vw);
  }

  &#show {
    transform: translateX(0);
  }
}

@media screen and (min-width: 800px) {
  .panel {
    width: 400px;
  }
}
