.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.slider-navigation {
  width: 100%;
  height: 10%;
  position: relative;
}

.slider-item {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

#next-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
}

#prev-arrow {
  position: absolute;
  left: 0;
  bottom: 0;
}

#next-arrow, #prev-arrow {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
