.slider {
  display: grid;
  grid-template-areas:
    "content"
    "navigation";
  grid-template-rows:
    1fr
    auto;
}
.slider-navigation {
  padding: 5%;
  display: grid;
  grid-template-areas: "prev-arrow indicator next-arrow";
  grid-template-columns: 50px 1fr 50px;
}
.slider-navigation-indicator {
  grid-area: indicator;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-content {
  width: 90%;
  height: 90%;
  padding: 5%;
}
#next-arrow {
  grid-area: next-arrow;
}
#prev-arrow {
  grid-area: prev-arrow;
}
#next-arrow,
#prev-arrow {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
#radial-icon {
  width: 12px;
  height: 12px;
  margin: 2.5%;
}
